@import 'nib'
$_top = 120px
$_width = 100vw
body
    header
        size $_width 6vh
    header:last-of-type
        fixed left
    aside
        size 15vw 87vh
    aside:first-of-type
        fixed top $_top
    aside:last-of-type
        fixed top $_top right
    main
        section
            article
                relative left 3rem
                div:first-child
                    div:first-child
                        relative top -1.3rem
    // form
    //     fieldset
    //         absolute top 450px left 800px
    footer
        size $_width 5vh
