body header {
  width: 100vw;
  height: 6vh;
}
body header:last-of-type {
  position: fixed;
  left: 0;
}
body aside {
  width: 15vw;
  height: 87vh;
}
body aside:first-of-type {
  position: fixed;
  top: 120px;
}
body aside:last-of-type {
  position: fixed;
  top: 120px;
  right: 0;
}
body main section article {
  position: relative;
  left: 3rem;
}
body main section article div:first-child div:first-child {
  position: relative;
  top: -1.3rem;
}
body footer {
  width: 100vw;
  height: 5vh;
}
