@import 'rupture'
//               1   2    3      4     5      6      7      8
rupture.scale = 0px 400px 600px 800px 1050px 1440px 1800px 1920px

+between(4,5)
    *
        font-size small
    header:first-child
        height 7vh !important
