$_border = .1rem solid white
*
    color white
body
    aside
        display inline-block
        font-size x-large
        form
            div
                overflow auto
                white-space nowrap
                height 34vh
                &::-webkit-scrollbar
                    width .3rem
                    &-thumb
                        background-color white
                        border-radius 1rem
            label
                font-size large
            legend
                margin-top 1.5rem
                text-align center
            input[type="submit"]
                position relative
                top 2rem
                left 3rem
                background-color blue
                border none
                border-radius .5rem
                padding .5rem 1rem
    aside:first-of-type
        border-right $_border
        form
            width 10vw
            position relative
            left -3rem
    aside:last-of-type
        border-left $_border
        form
            position relative
            left -4rem
