body
    main
        section
        form
            position relative
            top 5rem
            left -5rem
            fieldset
                display inline-block
                text-align center
                font-size x-large
                input
                    margin-bottom .5rem
                    font-size large
                    color black
                input[type='submit']
                    color white
                    margin-bottom 0
                    background-color blue
                    border none
                    border-radius .5rem
                    padding .5rem 1rem
                select

                    width 40vw
                    height 4vh
                    color black
                    option
                        color @color
                textarea
                    margin-top .5rem
                    color black
                input
                select
                textarea
                    outline none
