@import url('_nib.css')
$margin = 1rem
$size = .3rem
$shadow = 1px
$_shadow = 2px
$Border_radius = 50%
*
    color white
h1
    margin 0
a
    text-decoration none
    // color white
body
    margin 0
    font-family monospace
    background-color #0d1117
    &::-webkit-scrollbar
        display none
    header:first-child
        position sticky
        top 0
        left 0
        #Logo
            a
                margin-left $margin
        a:last-child
            margin-right $margin
        div:nth-of-type(2)
            img
                margin 0 1rem
                border-radius $Border_radius
        div:last-of-type
            a
                button
                    background-color blue
                    border none
                    border-radius .5rem
                    padding .5rem 1rem
        form
            margin-right $size
            input[type='search']
                margin-right .2rem
                padding $size $size
                border .1rem solid gray
                border-radius 1rem
                background-color #0d1117
                outline none
        input[type='search']
        button
            font-size large
        div
        nav
        form
            padding-top .8rem
            display inline-block
    header:last-of-type
        nav
            margin 1rem 0
            padding-bottom .9rem
            overflow auto
            white-space nowrap
            &::-webkit-scrollbar
                height .2rem
                &-thumb
                    background-color white
                    border-radius 1rem
            a
                display inline-block
                text-align center
    header
        border-bottom 1px solid gray
        background-color #161b22
        font-size large
    header:first-child a
    header:last-of-type nav a
        text-decoration none
    header:first-child div:nth-of-type(2)
    header:first-child div:last-of-type
    form
        float right
    header:first-child nav a
    header:last-of-type nav a
        padding 0 1.1rem
    header:first-child div
    header:first-child nav
    form
    header:last-of-type nav a
        font-size larger
