@import 'nib'
body
    header
        size 100vw 6vh
    header:last-of-type
        fixed left
    aside
        size 20vw 87vh
    aside:first-of-type
        fixed top 120px
    aside:last-of-type
        fixed top 120px right
    form
        fieldset
            absolute top 450px left 800px
    footer
        size 100vw 5vh
