@import 'nib'
$margin = 1rem
$size = .3rem
$shadow = 1px
$_shadow = 2px
$Border_radius = 50%
body
    overflow hidden
    font-family monospace
    margin 0
    header:first-child
        #Logo
            a
                margin-left $margin
        a:last-child
            margin-right $margin
        div
            img
                margin 0 1rem
                border-radius $Border_radius
        form
            margin-right $size
            input[type='search']
                outline none
        input[type='search']
        button
            font-size large
        div
        nav
        form
            padding-top .8rem
            display inline-block
    header:nth-of-type(2)
        nav
            margin 0 auto
            position relative
            margin-top 1.2rem
            div
                display none
                a:first-child
                        margin-left 2.4rem
            .category
                display block
        .nav-btn
            cursor pointer
            border-radius $Border_radius
            width 1.5vw
            display flex
            justify-content center
            padding $size
            &:hover
                box-shadow $_shadow $_shadow 10px rgba(0, 0, 0, 0.4)
        div
            .prev
                left 5px
            .next
                // right 5px
                left 1870px
            .prev
            .next
                top -6px
                z-index 10
                font-size x-large
                font-weight 700
        div
        .prev
        .next
            position absolute
    header
        height 5vh
        box-shadow $shadow $shadow $shadow rgba(0, 0, 0, 0.4)
    header:first-child a
    header:nth-of-type(2) nav a
        color black
        text-decoration none
    header:first-child div:nth-of-type(2)
    form
        float right
    header:first-child nav a
    header:nth-of-type(2) nav a
        padding 0 1.1rem
    header:first-child,header:nth-of-type(2)
    header:nth-of-type(2) nav a
        width 100vw
    header:first-child div
    header:first-child nav
    form
    header:nth-of-type(2) nav a
        font-size larger
    aside:nth-of-type(2)
        float right
        box-shadow -1px 0 rgba(0, 0, 0, 0.4)
    aside
        width 20vw
        height 82vh
        box-shadow $shadow 0 $shadow rgba(0, 0, 0, 0.4)
    aside
    main
        display inline-block
    footer
        height 5vh
        text-align center
        box-shadow $shadow 0 2px rgba(0, 0, 0, 0.4)
