@import url('_nib.css')
*
    color white
body
    main
        display inline-block
        width 59vw
        margin-left 25rem
        margin-top 4rem
        section
            form
                position absolute
                left 21rem
                select
                    padding .3rem
                    font-size medium
                    color black
                    outline none
                    option
                        color black
            article
                margin 1rem 1rem
                .views
                    float right
                .content
                    width 70%
                    display inline-block
                    div:last-of-type
                        div:first-child
                            position relative
                            top -.5rem
                            display inline-block
                            font-size 1rem
                            #comment
                                position relative
                                top .1rem
                            a:last-child
                                position relative
                                top .3rem
                                left .5rem
                                font-size 1.3rem !important
                        div:last-of-type
                            float right
                            a:first-child
                                padding .3rem .6rem
                                background-color black
                                border-radius 100px
                .Photo
                    padding-left 1rem
                    width 20%
                    display inline
