@import 'nib'
body
    font-family monospace
    form
        fieldset
            display inline-block
            text-align center
            absolute top 300px left 420px
            font-size x-large
            input
                margin-bottom .5rem
                font-size large
                outline none
            input[type='submit']
                margin-bottom 0
            p
                margin-bottom 0
            a
                text-decoration none
                color black
            span
                color rgba(0,0,225,0.5)
                margin-left -3.5rem
                cursor pointer
                z-index 10
