@import url("position.css");
body main section,
body main form {
  position: relative;
  top: 9rem;
  left: -12rem;
}
body main section fieldset,
body main form fieldset {
  display: inline-block;
  text-align: center;
  font-size: x-large;
}
body main section fieldset input,
body main form fieldset input {
  margin-bottom: 0.5rem;
  font-size: large;
  outline: none;
  color: #000;
}
body main section fieldset input[type='submit'],
body main form fieldset input[type='submit'] {
  color: #fff;
  margin-bottom: 0;
  background-color: #00f;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
body main section fieldset select,
body main form fieldset select {
  color: #000;
}
body main section fieldset select option,
body main form fieldset select option {
  color: #000;
}
body main section fieldset textarea,
body main form fieldset textarea {
  color: #000;
}
body main section fieldset p,
body main form fieldset p {
  margin-bottom: 0;
}
body main section fieldset a,
body main form fieldset a {
  text-decoration: none;
  color: #fff;
}
body main section fieldset span,
body main form fieldset span {
  color: rgba(0,0,225,0.5);
  margin-left: -3.5rem;
  cursor: pointer;
  z-index: 10;
}
