@import url('position.css')
body
    main
        section
        form
            position relative
            top 9rem
            left -12rem
            fieldset
                display inline-block
                text-align center
                font-size x-large
                input
                    margin-bottom .5rem
                    font-size large
                    outline none
                    color black
                input[type='submit']
                    color white
                    margin-bottom 0
                    background-color blue
                    border none
                    border-radius .5rem
                    padding .5rem 1rem
                select
                    color black
                    option
                        color @color
                textarea
                    color black
                p
                    margin-bottom 0
                a
                    text-decoration none
                    color white
                span
                    color rgba(0,0,225,0.5)
                    margin-left -3.5rem
                    cursor pointer
                    z-index 10
