@import url("position.css");
* {
  font-family: monospace;
  color: #fff;
}
body form fieldset {
  display: inline-block;
  text-align: center;
  font-size: x-large;
}
body form fieldset input {
  margin-bottom: 0.5rem;
  font-size: large;
  outline: none;
  color: #000;
}
body form fieldset input[type='submit'] {
  color: #fff;
  margin-bottom: 0;
  background-color: #00f;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
body form fieldset p {
  margin-bottom: 0;
}
body form fieldset a {
  text-decoration: none;
  color: #fff;
}
body form fieldset span {
  color: rgba(0,0,225,0.5);
  margin-left: -4.4rem;
  cursor: pointer;
  z-index: 10;
}
