// Custom CSS
@import 'nib'
// Variables
$Color = #bbb
$Border = 1px solid $Color
$Size = 5px
$Align = center
$Shadow = #1EAEDB

// Mixin
shadow(size,default = $Color,default = $Shadow)
    text-shadow: size size $Shadow,
                size+1 size+1 $Shadow,
                size+2 size+2 $Shadow,
                size+3 size+3 $Shadow,
                size+4 size+4 $Shadow,
                size+5 size+5 $Shadow,
                size+6 size+6 $Shadow,
                size+7 size+7 $Color,
                size+8 size+8 $Color,
                size+9 size+9 $Color,
                size+10 size+10 size+14 rgba(0,0,0,size/2)
                
body
    header
        border-bottom $Border// set border bottom

    form
    fieldset
        text-align $Align // align the form to center

    input[type="file"]
        relative top left 35px

    fieldset
        display inline // Display content in fieldset in same line

    footer
        fixed bottom 0 left 890px // Move 890 to left of page

    .desc
        @extend fieldset

    .right
        float right // Move to right of page

    .link:hover
        background #f0f0f0

    .dropdown
        display inline
        float right

    .dropdown:hover .menu
        display inline
        margin-top 40px

    .menu
        display none
        background snow
        box-shadow 0 1px 2px rgba(0,0,0,0.3)

    .row
        border $Border
        margin $Size 0 // Set margin to row
        padding 0 $Size // Set padding to row

    .link
        display block
        padding 10px
        text-decoration none
        border-top solid 1px #e0e0e0

    .logo
        font-family monospace // Set font to monospace
        font-size 3rem // Set font size
        color #33C3F0 // Set color of logo
        text-decoration none // Set decoration to none
        transform skew(-5deg,-5deg) rotate(5deg)
        transform-origin $Align $Align
        shadow(1px)

    .hidden
        display none

    .login
    .delete
        relative top 5px right

    a:hover
        .login
            fill #333
