body header {
  border-bottom: 1px solid #bbb;
}
body form,
body fieldset,
body .desc {
  text-align: center;
}
body input[type="file"] {
  position: relative;
  top: 0;
  left: 35px;
}
body fieldset,
body .desc {
  display: inline;
}
body footer {
  position: fixed;
  bottom: 0;
  left: 890px;
}
body .right {
  float: right;
}
body .link:hover {
  background: #f0f0f0;
}
body .dropdown {
  display: inline;
  float: right;
}
body .dropdown:hover .menu {
  display: inline;
  margin-top: 40px;
}
body .menu {
  display: none;
  background: #fffafa;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
body .row {
  border: 1px solid #bbb;
  margin: 5px 0;
  padding: 0 5px;
}
body .link {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-top: solid 1px #e0e0e0;
}
body .logo {
  font-family: monospace;
  font-size: 3rem;
  color: #33c3f0;
  text-decoration: none;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
  -moz-transform: skew(-5deg, -5deg) rotate(5deg);
  -o-transform: skew(-5deg, -5deg) rotate(5deg);
  -ms-transform: skew(-5deg, -5deg) rotate(5deg);
  transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  text-shadow: 1px 1px #1eaedb, 2px 2px #1eaedb, 3px 3px #1eaedb, 4px 4px #1eaedb, 5px 5px #1eaedb, 6px 6px #1eaedb, 7px 7px #1eaedb, 8px 8px #bbb, 9px 9px #bbb, 10px 10px #bbb, 11px 11px 15px rgba(0,0,0,0.5);
}
body .hidden {
  display: none;
}
body .login,
body .delete {
  position: relative;
  top: 5px;
  right: 0;
}
body a:hover .login {
  fill: #333;
}
svg {
  position: relative;
  top: 5px;
  margin-right: 1px;
}
svg:hover {
  cursor: pointer;
}
aside {
  position: relative;
  top: -400px;
  left: 20px;
}
.search {
  display: inline;
  position: relative;
  left: 500px;
}
.search input[type="search"] {
  border-radius: 20px;
border-color
}
